@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --primary-color: #fafcfa;
    --secondary-color: #050005;
    --tertiary-color: #00ec77;
    --quaternary-color: #3e19c5;
    --quinary-color: #f93842;
    --senary-color: #fbc000;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Condensed', sans-serif;
    --tertiary-font: 'Roboto Flex', sans-serif;
    --quaternary-font: 'Roboto Mono', sans-serif;
    --quinary-font: 'Roboto Serif', sans-serif;
    --senary-font: 'Roboto Slab', sans-serif;
    --septenary-font: 'Sofia Sans', sans-serif;


}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    scroll-behavior: smooth;
}